/* adding in map */
html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
  margin: 0;
}

/* Side Nav */
.flag {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Navbar */
.form-control {
  width: 200px;
}
/* 767 */
@media only screen and (min-width: 768px) {
  .form-control {
    margin-left: 40px;
  }
}

/* Popup Content  */
.custom-popup .leaflet-popup-content-wrapper {
  background:#615ef1;
  color:#fff;
  text-transform: capitalize;
}

.custom-popup .leaflet-popup-content-wrapper h1{
  margin-bottom: 0;
  margin-top: 0;
}

.custom-popup .leaflet-popup-content-wrapper p{
  margin: 1px 0;
}

.custom-popup .leaflet-popup-content-wrapper p span{
  text-transform: lowercase;
}

/* loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
}
#loader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-loader 1s linear infinite;
  animation: animate-loader 1s linear infinite;
}
@-webkit-keyframes animate-loader {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes animate-loader {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

/* Select Dropdown */
/* The container must be positioned relative: */
.custom-select {
  background-color: #45A292;
  color: white;
  border: white;
}

.bg-dark {
  background-color: #0B0C10 !important;
}

.navbar-dark .navbar-brand {
  color: #66FCF1;
}

.fa-bars {
  color: #66FCF1;
}

select > option {
  background-color: #45A292;
  color: white;
  border: white;
}

.form-control:focus {
  background-color: #45A292;
  color: white;
  border: white;
}

.fa-info-circle{
  color: #45A292;
}

/* Modal */
.modal-header {
  background-color: #45A292;
  border-bottom: 1px solid #dee2e6;
}

.modal-body {
  background-color: #45A292;
}

.modal-footer {
  background-color: #45A292;
}

.modal-body p {
  color: #fff;
}

.btn-secondary {
  color: #fff;
  background-color: #0B0C10;
  border-color: #0B0C10;
}